.container {
  background: purple;
  height: 90vh;
  width: 90vw;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.parent {
  background: rgb(33, 204, 176);
  height: 60vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.ball {
  width: 50px;
  height: 50px;
  background: radial-gradient(white, red);
  border-radius: 50%;

  position: absolute;
  /* left: 10px; 50 px will push the ball in the middle */
  left: 50px;

  animation: circle 3s infinite;
  /* animation: circle 3s infinte, then the ball will take 3 seconds to finish source to destinatio */
}

@keyframes circle {
  0% {
    left: 50px;
    top: 50px;
  }

  25% {
    left: 80vw;
    top: 50px;
  }
  50% {
    left: 80vw;
    top: 80vh;
  }
  75% {
    left: 50px;
    top: 80vh;
  }
  100% {
    left: 50px;
    top: 50px;
  }
}
